*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/wizard.jpg');
    background-size: cover;
}

header{
    text-align: center;
    font-size: 1.3rem;
    padding: 20px 0px;
}

form{
    width: 500px;
    margin: auto;
    /* box-shadow: 2px 2px 1px #ccc; */
    text-align: start;
    background-color: white;
    border-radius: 25px;
}

form div{
    padding: 2.5px;
}

form input, form label{
    display: block;
    width: 80%;
    margin: 0px auto;
    font-size: 1.05rem;
}

#radio{
    width: 80%;
    margin: auto;
}

#radio input,#radio label{
    display: inline;
    width: auto;
}

#buttonWrapper{
    width: 80%;
    margin: auto;
    padding: 10px;
}

form button{
    width: 100%;
    margin: auto;
    padding: 6px;
    font-weight: 900;
    font-size: 1.1rem;
    border-radius: 25px;
    outline: none;
}

label{
    font-weight: 400;
}

input{
    border-radius: 5px;
    color: #444;
    border: 2px solid #e3e3e3;
    box-shadow: none;
    outline: #444;
    padding: 6px 16px;
}

/* #output{
    display: block;
} */

.wrapper{
    width: 100%;
    text-align: center;
    /* margin: auto; */
    /* color: #ccc; */
    
}

#output{
    background-color:whitesmoke;
    border-radius: 25px;
    padding: 10px;
    width: 80%;
    margin: auto;
}

#logout{
    width: 200px;
    padding: 8px;
    margin: auto;
    margin-top: 5px;
    /* display: block; */
}

.danger{
    color: red;
    text-align: center;
}