.container {
  min-width: 650px;
  width: 80vw;
}

.table {
  border-radius: 10px;
  box-shadow: 2px 2px 30px rgb(0 0 0 / 30%);
  width: 100%;
}

.row {
  display: grid;
  justify-items: start;
  align-items: center;
  grid-template-columns: 1fr 2fr 0.75fr 1fr 1fr;
}

.header .row {
  background-color: #6c7ae0;
  color: #fff;
  line-height: 1.6;
  font-size: 1.2rem;
  border-radius: 10px 10px 0 0;
  padding: 8px 0;
}

.header .row .head {
  padding-left: 15px;
}

.body .row:last-child {
  border-radius: 0 0 10px 10px;
}

.body .row {
  padding: 10px 0;
}

.body .row .data {
  color: gray;
  padding-left: 15px;
  line-height: 1.25;
}

.body .row:nth-child(even) {
  background-color: #f8f6ff;
}

.delete {

  font-size: 1.2em;
  color: rgba(225, 0, 0);
  grid-column-start: 2;
}

.edit {
  /* margin-right: 20px; */
  font-size: 1.2em;
  color: royalblue;
}

.action{
  display: grid;
  justify-content: start;
  align-items: center;
  width: 100%;
  grid-template-columns: repeat(2,50%);
}