/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}
body{
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: auto;
    font-size: 1rem;
    font-weight: normal;
    background-color: #fff;
}