<div class="container">
  <nav>
    <a routerLink="/" class="rms">RMS</a>
    <a class="select-location"
      >Select Location
      <span class="downarrow-icon">
        <fa-icon [icon]="faArrowDown"></fa-icon>
      </span>
      <div class="dropdown">
        <div class="location" *ngFor="let location of locations">
          <a (click)="locationHandler(location)">{{ location.name }}</a>
          <fa-icon class="rightarrow-icon" [icon]="faArrowright"></fa-icon>
          <div class="branch-container">
            <p class="branch-header">branches of {{ location.name }}</p>
            <div class="branch" *ngFor="let branch of location.branches">
              <a
                [id]="branch.branch_id"
                (click)="branchHandler(branch.branch_id, location.dealers_id)"
                >{{ branch.name }}</a
              >
            </div>
          </div>
        </div>
      </div>
    </a>
  </nav>
  <app-breadcrumbs></app-breadcrumbs>
  <router-outlet></router-outlet>
</div>
