.container{
    height: 75vh;
    width: 50%;
    margin: auto;
    background-image: url('../images/641-600x600.jpg');
    background-repeat: no-repeat;
    display: flex;
    justify-items: center;
    align-items: center;
}

.text{
    text-align: center;
    color: white;
}