*{
    box-sizing: border-box;
}

html{
    font-family: 'Titillium Web', sans-serif;
}

/* header{
    width:100%;
    height: auto;
    margin: 0 auto;
    padding: 18px;
    background-color:#bab2b5;
    color: rgba(0,0,0);
} */

.fa-accusoft{
    font-size: 48px;
}

.root{
    margin: 0;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24252a;
}

.root ul{
    background-color: inherit;
}

.root li{
    list-style-type: none;
    display: inline-block;
    padding: 0 20px;
}

.root a{
    font-size: 19px;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.root a:hover{
    color: #0088a9;
}

.contact-us{
    font-weight: bold;
    color: #24252a;
    margin:0 10px;
    outline: none;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.contact-us:hover{
    background-color: #24252a;
    color: #0088a9;
}

.logo{
    cursor: pointer;
    /* margin: 0 auto; */
}

section{
    width: 100%;
}

aside{
    padding: 25px;
    width: 30%;
    height: 500px;
    /* margin: 15px 0px; */
    float: left;
    overflow-y: hidden;
    background-color:#bab2b5;
}

aside:hover{
    overflow-y: auto;
}

aside a{
    display: block;
    padding: 10px;
    font-size: 1.3em;
    text-decoration: none;
    font-weight: bold;
    color: #2c3531;
    white-space: nowrap
}

main{
    padding: 15px 25px;
    /* width: calc(75% - 15px); */
    width: 70%;
    height: 500px;
    /* margin: 15px 0px; */
    /* margin-left: 15px; */
    float: left;
    overflow-y: auto;
    background-color:rgba(0,0,0,0.1);
}

.wrapper{
    width: 100%;
}

main h1{
    font-size:2em ;
    text-align: center;
}

main span {
    font-size: 1.35em;
    text-align: left;
}
main ul{
    background-color: inherit;
}

main h3{
    text-align: left;
    padding: 10px;
    margin: 10px 0 0;
    font-size: 1.8em;
}

main p{
    text-indent: 150px;
    font-size: 1.2em;
    text-align: left;
    font-weight: lighter;
} 

footer{
    width: 100%;
    height: auto;
    clear: both;
    padding: 20px;
    text-align: center;
    color: white;
    background-color:#24252a;
}

footer > div{
    height: 70px;
}

footer .contact-us{
    font-size: 0.6em;
    font-weight: lighter;
}

footer .icons{
    float: left;
    width: 40%;
    font-size: 2em;
}

footer .social-icons{
    font-size: 2em;
    width: 60%;
    float: right;
    color: rgba(0,136,169,1);
}

footer .social-icons i{
    color: rgba(0,136,169,1);
}

footer .social-icons a{
    padding: 0 10px;
}

footer p{
    clear: both;
    font-size: 1em;
    line-height: 1;
    padding: 7px;
    margin: 0 auto;
}

ul {
    height: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    height: inherit;
  }
  
  li a {
    height: inherit;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .active {
    color: orange;
    background-color: rgba(0,0,0,0.2);
  }