@media all and (max-width:450px){
    .button-wrapper{
        flex-direction: column;
        align-items: center;
        height: 175px;
    }
    .solutions .moreInfo button{
        width: 75%;
    }
    .solutions .wrapper p{
        font-size: 1.07em;
    }
    .solutions .mainSolutions .content h2{
        font-size: 1.5em;
    }
    .solutions .mainSolutions .content p{
        font-size: 1.2em;
    }
    .solutions .content >img{
        max-height: 65px;
    }
}